@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'GenJyuuGothicRegular';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./fonts/GenJyuuGothicRegular.ttf') format("opentype");
}
@font-face {
  font-family: 'GenJyuuGothicBold';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./fonts/GenJyuuGothicBold.ttf') format("opentype");
}
@font-face {
  font-family: 'SweiGothicCJKtcRegular';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./fonts/SweiGothicCJKtcRegular.ttf') format("opentype");
}
@font-face {
  font-family: 'SweiGothicCJKtcBold';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./fonts/SweiGothicCJKtcBold.ttf') format("opentype");
}

html {
  scroll-behavior: smooth;
}

.logo {
    position: fixed;
    right: 50%;
    margin-right:-95px;
    margin-top:-95px;
    width: 180px;
    transition: ease 0.4s;
}
.logo-to {
    position: fixed;
    margin-right:0px;
    margin-top:0px;
    width: 60px;
    top: 6%;
    right: 2rem;
}
.topbgtxt-to {
    -webkit-animation: topfadeOut 0.5s;
    animation: topfadeOut 0.5s;
    -webkit-animation-iteration-count:  1;
    animation-iteration-count:  1;
    animation-delay: 0.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.logotxt-to {
    -webkit-animation: fadeOut 0.5s;
    animation: fadeOut 0.5s;
    -webkit-animation-iteration-count:  1;
    animation-iteration-count:  1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes topfadeOut {
   0% {opacity: 0;}
   100% {opacity: 1;} 
} 
@keyframes fadeOut {
   0% {opacity: 1;}
   100% {opacity: 0;} 
} 
.line-to {
    display: none;
}
.divideline{
    -webkit-animation: line 2s cubic-bezier(.19,1,.22,1) 0s infinite;
    animation: line 2s cubic-bezier(.19,1,.22,1) 0s infinite;
    background: linear-gradient(0deg,#fff,#fff);
    transform: translateY(-50%);
    width: 1px;
}
@keyframes line {
    0% {
        -webkit-clip-path: inset(0 0 100% 0);
        clip-path: inset(0 0 100% 0);
    }

    25% {
        -webkit-clip-path: inset(0 0 0 0);
        clip-path: inset(0 0 0 0);
    }
    75% {
        -webkit-clip-path: inset(0 0 0 0);
        clip-path: inset(0 0 0 0);
    }
    100% {
        -webkit-clip-path: inset(100% 0 0 0);
        clip-path: inset(100% 0 0 0);
    }
}

@media screen and (min-width: 767px) {
    .logo {
        top: 50%;
    }
    .logo-to {
        position: fixed;
        margin-right:0px;
        margin-top:0px;
        width: 60px;
        top: 2%;
        right: 2rem;
    }
}
@media screen and (max-width: 766px) {
    .logo {
        top: 45%;
    }
    .logo-to {
        position: fixed;
        margin-right:0px;
        margin-top:0px;
        width: 60px;
        top: 8%;
        right: 2rem;
    }
    .mb-logo-to {
        position: fixed;
        margin-right:0px;
        margin-top:0px;
        width: 60px;
        top: 6%;
        left: 2rem;
    }
}

.nall-colors {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: 160px 100px;
}

.ncolor {
  position: absolute;
  border-radius: 100%;
  animation: fade-scale 8s infinite;  
  opacity: 0;
}
.ncolor-yellow {
  background: #FFC500;
  animation-delay: 0.25s;  
}

.ncolor-pink {
  background: #ED0081;
  animation-delay: 0.5s;  
}

.ncolor-green {
  background: #61ff53;
  animation-delay: 0.75s;    
}

.all-colors {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: 160px 100px;
}

.color {
  position: absolute;
  border-radius: 100%;
  animation: fade-scale 8s infinite;  
  opacity: 0;
}

.color-yellow {
  background: #F4BF20;
  animation-delay: 0.25s;  
}

.color-pink {
  background: #F13630;
  animation-delay: 0.5s;  
}

.color-orange {
  background: #FFC500;
  animation-delay: 0.75s;    
}

.xall-colors {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: 160px 100px;
}

.xcolor {
  position: fixed;
  border-radius: 100%;
  animation: fade-scale 8s infinite;  
  opacity: 0;
}

.color-y {
  background: #FFC500;
  animation-delay: 0.75s;    
}

.color-o {
  background: #EE783B;
  animation-delay: 0.5s;  
}

.color-p {
  background: #ED0081;
  animation-delay: 0.75s;    
}


@keyframes fade-scale{
  0%{
    transform: scale(0.1);
    transform: translate(0,0);
    opacity: 0.2;
  }
  65%{
    transform: scale(1);
    transform: translate(35px,0);
    opacity: 0.5;
  }
  80%{
    transform: scale(1);
    transform: translate(120px,0);
    opacity: 1;
  }
  100%{
    transform: scale(0.1);
    opacity: 0.2;
  }
}

@media screen and (max-width: 767px) {
  input[type="text"],
  input[type="email"],
  textarea {
    font-size: 16px !important;
  }
}

.text-gradient-4-colors {
  background-image: linear-gradient(
    to right, 
    #ED0081 0%,   
    #F13630 5%,   
    #EE783B 10%,
    #FFC500 15%,
    #FFC500 100%
  );
  
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.contact-text-gradient-4-colors {
  background-image: linear-gradient(
    to right, 
    #ED0081 0%,
    #F13630 5%, 
    #EE783B 10%, 
    #FFC500 75%, 
    #FFC500 100%  
  );
  
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}